{{#if authenticated}}
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{book_free.pdf}}" frameborder="0"></iframe>
        </div>
</div>

<script>
    // Lấy URL hiện tại của trang
    var currentURL = window.location.href;
    
    // Tạo một biến để lưu trữ giá trị của {{this.slug}} từ URL
    var slug = currentURL.split("/").pop();

    // Danh sách các slug
    var slugsToHide = [
        "Van_hoc_nuoc_ngoai-trituedothai",
        "Van_hoc_nuoc_ngoai-dacnhantam",
        "Van_hoc_nuoc_ngoai-chuyenconmeodayhaiaubay",
        "Sach_ngon_tinh-guithoithanhxuantuoidepcuachungta",
        "Van_hoc_viet_nam-datrungphuongnam",
        "Van_hoc_nuoc_ngoai-battredongxanh",
        "Sach_ngon_tinh-yeuemtucainhindautien",
        "Sach_ngon_tinh-anhkhongmuondeemmotminh",
        "Sach_ngon_tinh-caycamngot",
        "slug3",
        "slug3",
        "slug3",
        "slug3",
        "slug3",
        "slug3"
        // Thêm các slug khác vào danh sách nếu cần
    ];
    // Kiểm tra xem URL có khớp với http://localhost:3000/bookfree/detail/{{this.slug}} không
    if (currentURL.indexOf("http://localhost:3000/bookfree/detail/") !== -1) {
        // Kiểm tra giá trị của slug
        var slug = currentURL.replace("http://localhost:3000/bookfree/detail/", "");
        if (slugsToHide.includes(slug)) {
            // Đặt lớp CSS cho phần header
            var header = document.querySelector(".header");
            if (header) {
                header.classList.add("hidden");
            }
        }
    }
</script>
<style>
    .hidden {
        display: none;
    }
        
    body {
        margin-top: 10px; 
        padding-top: 0; 
    }
</style>
{{/if}}