{{!-- <div class="container-fluid pt-2">
    <div class="row px-xl-1 pb-1">
        <div>
            <iframe src="{{book_free.pdf}}" frameborder="0" width="1000" height="800"></iframe>
        </div>
    </div>
</div> --}}
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{book_free.pdf}}" frameborder="0"></iframe>
        </div>
</div>

