<div class="container-fluid mb-1" style="width: 800px">    
        <h5>Bước 1:</h5>       
        <p class="topic-intro-parag"> Bạn đăng nhập thành công vào hệ thống. Chọn sách muốn mua và nhấn Mua ngay. </p>
        <div class="container text-center">
            <img src="/public/img/B1.jpg" class="img-fluid " style="display: inline-block;" >
        </div>
        <h5>Bước 2:</h5>  
        <p class="topic-intro-parag">Tùy chỉnh số lượng cần mua và nhấn Tiến hành thanh toán. </p>
        <div class="container text-center">
            <img src="/public/img/B2.jpg" class="img-fluid " style="display: inline-block;" >
        </div>
        <h5>Bước 3:</h5>  
        <p class="topic-intro-parag">Bạn điền đầy đủ thông tin theo hình bên dưới. Sau đó nhấn chọn Đặt hàng. </p>
         <div class="container text-center">
            <img src="/public/img/B3.jpg" class="img-fluid " style="display: inline-block;" >
        </div>
        {{!-- <div class="container text-center">
            <img src="/public/img/B2.jpg" class="img-fluid border-black" style="display: inline-block;" >
        </div> --}}
</div>